/* CSS applied to all */

html, body{
	overflow-x: hidden;
}

body {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bree serif", Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 28px;
	font-weight: normal;
	margin-bottom: 5px;
}

p {
	font-size: 16px;
	line-height: 19px;
	font-weight: 100;
}

/* GRID */

.container-hero, .content-width, .benefits, .top-nav, .notes, .images, .links, .container-pricing. .footer {
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px; 
position: relative;
}

.container-hero, .top-nav, .logo, .images, .pricing {
	background-color: #212F54;
	color: #ffffff;
}
/*
.benefits:before,
.top-nav:after {
	content: "";
	display: table;
} 

.benefits:after {
	clear: both;
} 

.benefits {
	clear: both;
	*zoom: 1;
} 
*/
.top-nav:before,
.top-nav:after {
	content: "";
	display: table;
} 

.top-nav:after {
	clear: both;
} 

.top-nav {
	clear: both;
	*zoom: 1;
} 


.container-hero:before,
.container-hero:after {
	content: "";
	display: table;
} 

.container-hero:after {
	clear: both;
} 

.container-hero {
	clear: both;
	*zoom: 1;
} 

.content-width:before,
.content-width:after {
	content: "";
	display: table;
} 

.content-width:after {
	clear: both;
} 

.content-width {
	clear: both;
	*zoom: 1;
} 

.container-hero h1, 
.container-hero p, 
.container-hero a {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	text-align: center;
}
.container-hero h1 {
	margin-top: 5%;
}

.container-hero a {
	width: 40%;
	margin-bottom: 5%;
}

.container-hero img {
	margin: 5%;
	float: left;
}


/* HELP!!! Notes & Links- I am unable to figure out 
how to properly align the photo on the page like I
did for the hero and the links section. HELP!!! */
/*
.benefits:before,
.benefits:after {
	content: "";
	display: table;
} 
.benefits:after {
	clear: both;
} 
.benefits {
	clear: both;
	*zoom: 1;
} 
*/
.notes:before,
.notes:after {
	content: "";
	display: table;
} 
.notes:after {
	clear: both;
} 
.notes {
	clear: both;
	*zoom: 1;
} 

.notes h2, 
.notes p {
	margin-right: auto;
	margin-left: auto;
	display: block;
	position: relative;
	text-align: center;
}

.notes img {
	margin: 5%;
	float: right;
}

/* Images */
.images:before,
.images:after {
	content: "";
	display: table;
} 
.images:after {
	clear: both;
} 
.images {
	clear: both;
	*zoom: 1;
} 

.images p, 
.images h2 {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	text-align: center;
}

.images p {
	padding-bottom: 25px;
} 
.images img {
	margin: 5%;
	float: left;
}

/* Links */
.links:before,
.links:after {
	content: "";
	display: table;
} 
.links:after {
	clear: both;
} 
.links {
	clear: both;
	*zoom: 1;
} 

.links h2, 
.links p {
	margin-right: auto;
	margin-left: auto;
	display: block;
	position: relative;
	text-align: center;
}
.links img {
	margin: 5%;
	float: right;
}

/* Pricing */

.pricing h2, .pricing p {
	text-align: center;
}
.one-third {
	width:29.333%;
	float: left;
	position: relative;
	min-height: 1px;
	margin: 2%;
}

.pricing:before,
.pricing:after {
	content: " ";
	display: table;
} 

.pricing:after {
	clear: both;
}

.pricing {
	clear: both;
	*zoom: 1;
} 

/* Footer */
.footer:before,
.footer:after {
	content: "";
	display: table;
} 

.footer:after {
	clear: both;
}

.left-footer p {
	font-size: 12px;
}

.link-middle-footer li {
	display: inline;
	font-size: 12px;
}

.right-footer img {
	float: right;
}

.footer {
	background-color: white;
}

/* HEADER */
header {
   color:#FFFFFF;
   background: ##212F54;
   max-height: 100%;
   max-width: 100%;
   
 }

 header nav {
 	padding: 1em 0;
 }

 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
}
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }

  /*
 header .container-hero {
   text-align: center;
   display: block;
   position: relative;
 }

 header .container-hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 
 header .container-hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
  margin:10px 0 40px; 
 }
 /*
 header .container-hero img {
   display: inline-block;
   margin:3em auto 0;
 }
 */

 /* BUTTONS */
 .btn {
   border-radius: 2px;
   color:#212F54;
   font-weight: 700;
   text-decoration: none;
   padding:5px 5px;
   background: #C1FCFF;
   box-shadow: 0px 2px 0px 0px #22894E;
 }

 /* Checkpoint 30 Media Queries */
@media tv and (min-width: 700px) and (orientation: landscape) { 
.container-hero {
	width: 100%;
	} 
}

@media (min-width: 768px) {
	.container-hero, header, .pricing, 
	.notes, .images, .links, .footer {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.container-hero, header, .pricing, 
	.notes, .images, .links, .footer {
		width: 970px;
	}
	.one-half {
		width: 46%;
		float: left;
	}
	.one-third {
		width: 29.33333%;
	}
}
@media (min-width: 1200px) {
	.container-hero, header, .pricing, 
	.notes, .images, .links, .footer {
		width: 100%;
	}
}

