/* CSS applied to all */

html, body{
	overflow-x: hidden;
}

body {
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bree serif", Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 28px;
	font-weight: normal;
	margin-bottom: 5px;
}

p {
	font-size: 16px;
	line-height: 19px;
	font-weight: 100;
}

/* GRID */
.content-width,
.container, 
.benefits, 
.container-pricing,
.container-hero, 
.pricing,  
.top-nav, 
.notes, 
.images, 
.links,  
.footer, 
{
margin-right: auto;
margin-left: auto;
padding-left: 15px;
padding-right: 15px; 
position: relative;
}

.container-hero, .top-nav, .logo, .images, .pricing {
	background-color: #212F54;
	color: #ffffff;
}
.top-nav:before,
.container-hero:before,
.content-width:before,
.notes:before,
.images:before,
.links:before,
.footer:before,
.container:before,
.pricing:before,
.top-nav:after,
.container-hero:after,
.content-width:after,
.notes:after,
.images:after,
.links:after,
.footer:after,
.container:after,
.pricing:after {
	content: "";
	display: table;
} 

.top-nav:after,
.container-hero:after,
.content-width:after,
.notes:after,
.images:after,
.links:after,
.footer:after,
.container:after,
.pricing:after  {
	clear: both;
} 

.top-nav,
.container-hero,
.content-width,
.notes,
.images,
.links,
.footer,
.container,
.pricing {
	clear: both;
	*zoom: 1;
} 

/* HEADER */
header {
   color:#FFFFFF;
   background: ##212F54;
   max-height: 100%;
   max-width: 100%;
 }

 header nav {
 	padding: 1em 0;
 }

 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
}
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }

 header .container-hero {
   text-align: center;
   display: block;
   position: relative;
 }

 header .container-hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 
 header .container-hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
  margin:10px 0 40px; 
 }

.container-hero h1, 
.container-hero p, 
.container-hero a {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	text-align: center;
}
.container-hero h1 {
	margin-top: 5%;
}

.container-hero a {
	width: 40%;
	margin-bottom: 5%;
}
.container-hero a.btn {
	position: relative;
	display: inline-block;
}
.container-hero img {
	margin: 5%;
	float: left;
}


/* HELP!!! Notes & Links- I am unable to figure out 
how to properly align the photo on the page like I
did for the hero and the links section. HELP!!! */


.benefits {
   text-align: center;
   display:block;
   position:relative;
 }

  .benefits i {
   font-size:60px;
   margin:5% 0 0 0;
  }

.notes i {
   color:#212F54;
   }

.notes img {
	margin: 5%;
	float: right;
}

/* Images */
.images p {
	padding-bottom: 25px;
} 
.images img {
	margin: 5%;
	float: left;
}

/* Links */
.links img {
	margin: 5%;
	float: right;
}

/* Pricing */

.pricing {
	text-align: center;
	padding: 4em 0;
}

 .pricing h2, .pricing p {
   color:#FFFFFF;
 }
 .pricing ul {
   margin:0 auto;
   padding:2em 0;
 }
 .pricing ul li {
   list-style-type: none;
 }

.box {
   padding:0 15px 15px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
   min-height: 439px;
   position: relative;
   margin-top: 25px;
 }

 .box.middle {
   min-height: 485px;
   margin-top:0px;
 }

 .box h3 {
   font-family: "Ubuntu", Helvetica, Arial, sans-serif;
   font-weight: 600;
   text-transform: uppercase;
   background: #E2E2E2;
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
   left:0;
   right:0;
   top:0;
   text-align: center;
   margin:0 -15px 40px;
   padding:10px 0;
   color: #212F54;
}

 .box h4 {
   font-size:50px;
   font-weight: normal;
   margin:40px 0 10px;
   color:#3498DB;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }

 .box h4 span.month {
   font-family: "Ubuntu", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#888888;
   font-size:20px;
   vertical-align: middle;
 }

 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
   color: #212F54;
 }

.one-third {
	width:29.333%;
	float: left;
	position: relative;
	min-height: 1px;
	margin: 2%;
}

 .box .btn {
   position:absolute;
   bottom:20px;
   left:20px;
   right:20px;
 }
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
   text-align: center;
   position: relative;
 }

/* Footer */

.left-footer p {
	font-size: 12px;
}

.link-middle-footer li {
	display: inline;
	font-size: 12px;
}

.right-footer img {
	float: right;
}

.footer {
	background-color: white;
}

 /* BUTTONS */
 .btn {
   border-radius: 2px;
   color:#212F54;
   font-weight: 700;
   text-decoration: none;
   padding:5px 5px;
   background: #C1FCFF;
   box-shadow: 0px 2px 0px 0px #22894E;
 }

 /* Checkpoint 30 Media Queries */
 @media (min-width: 768px) {
/*.content-width,
.container, 
.benefits, 
.container-pricing,*/
.container-hero,
.pricing,  
.top-nav, 
.notes, 
.images, 
.links,  
.footer,  {
     /*width: 100%;*/
      width: 750px;
   }
 }
 @media (min-width: 992px) {
/*.content-width,
.container, 
.benefits, 
.container-pricing,*/
.container-hero, 
.pricing,  
.top-nav, 
.notes, 
.images, 
.links,  
.footer,  {
     /*width: 100%;*/
     width: 970px;
   }
   .one-half {
     width:100%;
   }
   .one-third {
     width:29.33333%;
   }
 }
 @media (min-width: 1200px) {
/*.content-width,
.container, 
.benefits, 
.container-pricing,*/
.container-hero, 
.pricing,  
.top-nav, 
.notes, 
.images, 
.links,  
.footer, {
     /*width: 100%;*/
     width: 1170px;
   }
 }

